.success {
  max-width: 980px;
  width: 100%;
  font-family: "Roboto";

  display: flex;
  flex-direction: column;
  align-items: center;

  opacity: 0;
  transition: opacity 0.3s ease;

  &.show {
    opacity: 1;
  }

  header {
    width: 100%;
    margin: 0 auto;
    padding: 31px 0;
    color: #247a6b;
    text-align: center;

    display: flex;
    justify-content: center;

    h1 {
      width: 80%;
      padding: 0 30px;
      font-size: 24px;
      font-weight: 700;
      line-height: 28px;
      letter-spacing: 0.04rem;
    }
  }

  div {
    margin-bottom: 42px;
    padding-left: 24px;
    align-self: flex-start;
  }

  h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;

    color: #293845;
  }

  p {
    margin-top: 12px;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #293845;

    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
  }

  button {
    width: max-content;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 52px;
  }

  .message {
    margin: 40px auto;
    font-size: 28px;
    text-align: center;
    line-height: 32px;
    width: 90%;
    align-self: center;
    justify-self: center;

    span {
      display: block;
      font-size: 55px;
      margin-bottom: 20px;
    }

    img {
      display: block;
      height: 100px;
      width: 100px;
      margin: 0 auto;
      margin-bottom: 20px;
    }
  }
}
