.header {
  background-color: #c3cfd9;
  width: 100%;
  min-height: 67px;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;

  h1 {
    font-size: 34px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 20px 0px;
    margin: 0 auto;
    color: #e8833a;
    cursor: pointer;
  }

  .back-button {
    width: 45px;
    position: absolute;
    left: 10px;
    cursor: pointer;
    filter: drop-shadow(rgba(100, 100, 111, 0.2) 0px 7px 29px 0px);
  }
}
