.not-found {
  width: 100%;
  height: calc(100vh - 130px);
  color: #293845;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    width: 290px;
  }

  h2 {
    font-size: 52px;
  }

  p {
    margin-top: 10px;
    font-size: 26px;
    width: 290px;
    text-align: center;
  }
}
